<div class="chat--list-profile-card-wrap">
    <div class="chat--list-profile-card-actions">
        {{{avatar}}}
        <div class="chat--list-profile-card-actions card-actions-icons">
            {{{newChatPopupr}}}
            {{{newChatLink}}}
            <i class="ch-settings" title="Настройки чата"></i>
        </div>  
    </div>
    {{{search}}}
</div>