<div class="wrapper">
  <div class="form--register-wrap">
  {{{heading}}}
    <form action="" class="form--register" enctype="multipart/form-data">
    {{#each textInputs}}  
      {{{textInput}}}
    {{/each}}
    {{{submit}}}
    </form>
    <a href="" class="form--register-login-link">Создать эккаунт</a>
</div>
</div>