<section class="wrapper">
  <div class="form--register-wrap">
  {{>heading heading}}
    <form action="" class="form--register" enctype="multipart/form-data">
    {{#each textInputs}}  
      {{>textInput}}
    {{/each}}
    {{>submit submit}}
    </form>
    <a href="" class="form--register-login-link">Авторизоваться</a>
</div>
</section>