.main--page-wrap{
    display:flex;
    background:var(--global--color-white);
}
.chat--list-wrap {
    grid-column: 1/4;
    height:100vh;
    border-right:1px solid var(--global--color-primary-40);
    padding:1px
}
.chat--wrap {
    grid-column: 3/4;
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
}