<div class="main--page-wrap">
  <div class="chat--list-wrap">
    {{{profilecard}}}
    <div class="chat--list-chats">
    {{#each chatlist}}  
      {{{this}}}
    {{/each}}
    </div>
  </div>
  <div class="chat--wrap">Выберите чат чтобы отправить сообщение
  </div> 
</div>