<section class="wrapper">
  <div class="form--register-wrap">
  {{{heading}}}
    <form action="" method="post" class="form--register" enctype="multipart/form-data">
    {{#each textInputs}}
      {{{this}}}
    {{/each}}
    {{{submit}}}
    </form>
    {{{link}}}
</div>
</section>