<div class="popup-content {{popupClass}}">
    <form action="" class="file-upload-form" enctype="multipart/form-data">
        {{{fileInput}}}
         <span class="input-error"></span>
        {{{upload}}}
    </form>
</div>