<div class="main--page-user-profile-wrap">
    {{>avatar userpic}}
    {{>heading username}}
  <div class="main--page-user-profile-fields">
    {{#each profileFields}}  
      {{>profileField}}
    {{/each}}
  </div> 
  <a href="" class="main--page-user-profile user-profile-link link-change-data">Изменить данные</a>
  <a href="" class="main--page-user-profile user-profile-link link-change-pass">Изменить пароль</a>
  <a href="" class="main--page-user-profile user-profile-link link-logout">Выйти</a>
  
    
</div>