<div class="message-input-wrapper">
    <i class="ch-attachment"></i>
    <form action="" class="message-input-form" enctype="multipart/form-data">
    {{{textinput}}}
    <span class="input-error"></span>
    {{{button}}}
    </form>
</div>