<div class="wrapper  error--block">
    <div class="error--block-letter letter-1st">{{letter1st}}</div>
    <div class="error--block-letter letter-2nd">{{letter2nd}}</div>
    <div class="error--block-letter letter-3rd">{{letter3rd}}</div>
    <h3 class="error--block-message">{{errMessage}}</h3>
    <a href="/index.html" class="error--block-link-back">Назад к чатам</a>
<div>