.create-new-chat-form .input-wrapper {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.new-chat-submit {
    margin: var(--global--spacing-unit) auto 0;
}

.new-chat-form-input {
    width: 100%;
}
