<div class="message-wrap{{#if isMine}} mine{{/if}}">
    {{content}}
    <div class="message-time{{#if isRecieved}} recieved{{/if}}">
        {{#if isMine}}
            {{#if isRecieved}}
                <i class="ch-sent"></i>
            {{/if}}
        {{/if}}
        {{time}}
    </div>
</div>