.input-wrapper {
    padding: var(--global--spacing-vertical) 0;
}

.input-error {
    display: none;
    color: var(--global--color-error);
    text-align: left;
    font-size: var(--global--font-size-xs);
}

.input-error.invalid {
    display: block;
}
