<div class="wrapper form--login-wrap">
  {{>heading heading}}
    <form action="" class="form--login" enctype="multipart/form-data">
    {{#each textInputs}}  
      {{>textInput}}
    {{/each}}
    {{>submit submit}}
    </form>
    <a href="" class="form--login-register-link">Нет аккаунта?</a>
</div>