.context-menu-wrapper {
    position: absolute;
    top: var(--global--spacing-unit);
    right: var(--global--spacing-unit);
    box-shadow: var(--global--box-shadow);
    background: var(--global--color-white);
    border-radius: var(--global--border-radius);
    padding: calc(2 * var(--global--spacing-vertical)) var(--global--spacing-horizontal);
}

.context-menu-wrapper div {
    margin: var(--global--spacing-unit);
}