.avatar-wrap {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--global--color-primary);
    border-radius: 50%;
    box-shadow: var(--form--box-shadow);
    cursor: pointer;
    width: 45px;
    height: 45px;
    transition: var(--global--transition);
}

.avatar-wrap img {
    width: 45px;
}

.avatar-wrap:hover img {
    filter: blur(2px);
}
