.profile-field-wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted var(--global--color-primary-40);
    padding: var(--global--spacing-vertical) 0 0;
    grid-column: 2/3;
    grid-push: 1/6;
    grid-pull: 1/6;
}
.profile-field-label {
    grid-column: 1/2;
}
.profile-field-data {
    grid-column: 1/2 !last;
    text-align: right;
}
