<div class="main--page-user-profile-wrap">
    {{{avatarForm}}}
    <div class="main--page-user-profile-fields">
        {{{heading}}}
        {{#each profileFields}}
            {{{this}}}
        {{/each}}
        <div class="main--page-user-profile-actions">
            {{#each links}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>