{{{heading}}}
<div class="main--page-user-profile-form">
  <form action="" class="{{formclass}}" enctype="multipart/form-data">
    {{#each textinputs}}
      {{{this}}}
    {{/each}}
    {{{submit}}}
  </form>
</div>

