.user-profile-avatar,
.user-profile-avatar img {
    width: 100px;
    height: 100px;
}

.user-profile-avatar:hover::after {
    content: "Загрузить аватар";
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
