<div class="main--page-chat-body-wrap">
    <div class="main--page-chat-body-header">
        {{{avatar}}}
        <i class="ch-more"></i>
    </div>
    <div class="main--page-chat-body-messages">
        {{{chatmessages}}}
    </div>
    <div class="main--page-chat-body-footer">
        <i class="ch-attachment"></i>
        <form action="" class="message-input-form" enctype="multipart/form-data">
            {{{textinput}}}
            <span class="input-error"></span>
            {{{send}}}
        </form>
    </div>
</div>