.input-wrapper {
    margin-bottom: var(--global--spacing-unit);
}

.input-error {
    font-size: var(--global--font-size-xs);
    color: var(--global--color-error);
}

label {
    font-weight: var(--form--label-weight);
    font-size: var(--global--font-size-sm);
}